* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Sevillana';
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
}

.imgGatuno{
    width: 100%;
    text-align: -webkit-center;
}

#gifGatuno {
    display: block; 
    position: relative;
    width: 175px;
    height: 175px;
    margin: 40px 0px;
}

#demoIngles {
    text-align: center;
    position: relative;
}

#demo {
    font-family: 'Cormorant Garamond';
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    margin: 40px 50px;
}

#boton-cargar{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

@keyframes example {
      0%   {top:-200px;}
      100% {top:0px;}
}

@keyframes exampleDos {
      0%   {top:200px;}
      100% {top:0px;}
}

@media (min-width: 1080px){
    #demo{
        margin: 60px 220px;
    }
}